*.java.hsp
*.sonarj
*.sw*
.DS_Store
.settings
.springBeans
bin
build.sh
integration-repo
ivy-cache
jxl.log
jmx.log
derby.log
spring-test/test-output/
.gradle
argfile*
pom.xml
activemq-data/

classes/
/build
buildSrc/build
/spring-*/build
/src/asciidoc/build
#target/

# Projects not in this branch
integration-tests/
spring-core/kotlin-coroutines/

# Eclipse artifacts, including WTP generated manifests
.classpath
.project
spring-*/src/main/java/META-INF/MANIFEST.MF

# IDEA artifacts and output dirs
*.iml
*.ipr
*.iws
.idea
out
test-output
atlassian-ide-plugin.xml
.gradletasknamecache



buildSrc/src/main/java/
buildSrc/src/main/kotlin/
buildSrc/src/test/
shadow/build/generated/
shadow/build/tmp/
shadow/src/main/kotlin/
shadow/src/main/resources/
shadow/src/test/
spring-aop/src/main/kotlin/
spring-aop/src/test/kotlin/
spring-aspects/src/main/kotlin/
spring-aspects/src/test/kotlin/
spring-beans/src/test/groovy/
spring-context-indexer/src/main/kotlin/
spring-context-indexer/src/test/kotlin/
spring-context-indexer/src/test/resources/
spring-context-support/src/main/kotlin/
spring-context-support/src/test/kotlin/
spring-context/src/main/groovy/
spring-core/src/main/resources/
spring-expression/src/main/kotlin/
spring-expression/src/test/kotlin/
spring-framework-bom/src/
spring-instrument/src/main/kotlin/
spring-instrument/src/main/resources/
spring-instrument/src/test/kotlin/
spring-jcl/src/main/kotlin/
spring-jcl/src/test/
spring-jms/src/main/kotlin/
spring-jms/src/test/kotlin/
spring-messaging/src/main/kotlin/
spring-messaging/src/main/resources/
spring-orm/src/main/kotlin/
spring-orm/src/main/resources/
spring-orm/src/test/kotlin/
spring-oxm/src/main/kotlin/
spring-oxm/src/test/kotlin/
spring-tx/src/main/kotlin/
spring-tx/src/test/kotlin/
spring-webflux/src/main/resources/
spring-webmvc/src/main/kotlin/
spring-websocket/src/main/kotlin/
spring-websocket/src/test/kotlin/
src/main/
src/test/groovy/
src/test/kotlin/



.gradle/
/spring-*/out/
/spring-*/build/
.gitignore
/spring-aop/build/
/spring-aop/out/
